DISCORD_TOKEN=
DISCORD_APPLICATION_ID=
AZERITE_CHANNEL_ID=
OUTPUT_CHANNEL_ID=
AUDIT_CHANNEL_ID=
AZERITE_BOT_ID=
RECRUITMENT_OFFICER_IDS=
RECRUITMENT_QUEUE_ASSIGNEES=
WCL_V2_CLIENT_ID=
WCL_V2_CLIENT_SECRET=
